* {
    display: grid;
    align-self: stretch;
    justify-self: center;
    background-color: black;
    color: dodgerblue;
    font-family: 'Comic Sans MS';
    transition: all 200ms ease-in-out;
}

span {
    font-size: 96px;
}
