:root {
    --background-color: #222;
    --highlight-color: yellow;
}

html {
    font-family: 'Comic Sans MS';
    background-color: var(--background-color);
    width: 320px;
    height: 240px;
}

body {
    color: var(--highlight-color);
    padding: 0px;
    font-family: "Comic Sans MS", "Arial", cursive;
}


input, textarea, button, select {
    font-family: "Comic Sans MS", cursive !important;
}

a {
    font-size: 24px;
    margin: 8px;
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}

    a:hover {
        color: var(--highlight-color);
    }

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal-content {
    background: var(--background-color);
    border: 2px solid var(--highlight-color);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#header-bar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: grid;
    grid-template: 1fr / auto 1fr auto;
    gap: 8px;
    padding: 8px;
    background: var(--background-color);
    border-bottom: 2px solid var(--highlight-color);
    background-color: var(--background-color);
}

button {
    padding: 8px;
    background-color: var(--background-color);
    border: none;
    /*border: 1px solid var(--highlight-color);*/
    color: var(--highlight-color);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

    button:hover {
        background-color: var(--highlight-color);
        color: var(--background-color);
    }

    button:disabled {
        background-color: var(--background-color) !important;
        border-color: gray !important;
        color: gray !important;
        cursor: not-allowed;
    }

    button.inverted {
        color: var(--background-color);
        background-color: var(--highlight-color);
    }
    button.inverted:hover {
        color: var(--highlight-color);
        background-color: var(--background-color);
    }


select {
    background-color: var(--background-color);
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
}

option {
    background-color: var(--background-color);
    color: var(--highlight-color);
}

select option {
    background-color: var(--background-color);
    color: var(--highlight-color);
}

select:focus {
    background-color: var(--highlight-color);
    color: var(--background-color);
    outline: 1px solid var(--highlight-color);
}

.hide {
    display: none;
}

.code-button {
    background-color: green;
    color: red;
}

#code-snippet-area {
    justify-self: center;
}

h3 {
    font-size: 36px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 2px solid var(--highlight-color);
}

th {
    font-size: 24px;
    background-color: var(--highlight-color);
    color: var(--background-color);
}

input[type="checkbox"] {
    display: none;
}

input[type="text"] {
    font-size: 24px;
    color: var(--highlight-color);
    border: none;
    background: var(--background-color);
    width: 100%;
    min-width: 160px;
    box-sizing: border-box; /* Ensures padding does not break the layout */
    overflow: hidden;
    resize: horizontal; /* This allows horizontal resizing by the user */
    outline: none;
}

.ti {
    font-size: 32px;
}
